@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

h3 {
  margin-top: 20px;
}

.container {
  display: flex;
  width: 650px;
  row-gap: 10px;
  column-gap: 10px;
}

/* item */
.item {
  background: orange;
  margin: 10px;
}
.item-01 {
  width: 50px;
  height: 50px;
}
.item-02 {
  width: 80px;
  height: 80px;
}
.item-03 {
  width: 40px;
  height: 40px;
}
.item-04 {
  background: orange;
  width: 40px;
  height: 40px;
}
.item-05 {
  background: orange;
  padding: 8px;
  flex-grow: 1;
}
.item-06 {
  background: orange;
  width: 100px;
  text-align: center;
  flex-grow: 1;
}
.item-grow {
  background: orange;
  padding: 8px;
  flex-grow: 3;
}
.item-shrink {
  background: orange;
  padding: 8px;
  width: 50px;
  height: 50px;
  flex-shrink: 1;
}
.item-basis {
  background: orange;
  flex-basis: 150px;
  align-self: flex-end;
}
.item-flex {
  background: orange;
  text-align: center;
  flex: initial; /*flex: 0 1 auto;*/
}

/* content */
#row {
  flex-direction: row;
}
#column {
  flex-direction: column;
}
#row-reverse {
  flex-direction: row-reverse;
}
#column-reverse {
  flex-direction: column-reverse;
}
#row-wrap {
  flex-flow: row wrap;
}
#column-wrap {
  flex-flow: column wrap;
}
#row-nowrap {
  flex-flow: row nowrap;
}
#column-nowrap {
  flex-flow: column nowrap;
}
#column-wrapreverse {
  height: 300px;
  flex-flow: column wrap-reverse;
}

/*display flex */
.inline-flex {
  background: palegreen;
  padding: 20px;
  margin: 20px;
  width: 300px;
  height: 100px;
  display: inline-flex;
}
.flex-direction {
  background: palegreen;
  padding: 20px;
  margin: 20px;
}
.flex-directionreverse {
  background: palegreen;
  padding: 20px;
  margin: 20px;
}
.flex-wrap {
  background: palegreen;
  padding: 20px;
  margin: 20px;
  height: 300px;
  flex-wrap: wrap;
}
.flex-flow {
  background: palegreen;
  padding: 20px;
  margin: 20px;
}
.flex-grow {
  background: palegreen;
  padding: 10px;
  margin: 20px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.flex-shrink {
  background: palegreen;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  gap: 10px;
}
.flex-basis {
  background: palegreen;
  padding: 10px;
  margin: 20px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.flex {
  background: palegreen;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* justify-content */
.justifycontent-flexstart {
  background: palegreen;
  margin: 20px;
  justify-content: flex-start;
}
.justifycontent-flexend {
  background: palegreen;
  margin: 20px;
  justify-content: flex-end;
}
.justifycontent-center {
  background: palegreen;
  margin: 20px;
  justify-content: center;
}
.justifycontent-spacebetween {
  background: palegreen;
  margin: 20px;
  justify-content: space-between;
}
.justifycontent-spacearound {
  background: palegreen;
  margin: 20px;
  justify-content: space-around;
}
.justifycontent-spaceevenly {
  background: palegreen;
  margin: 20px;
  justify-content: space-evenly;
}

/* alingn-itens */
.alignitens-stretch {
  background: palegreen;
  margin: 20px;
  height: 300px;
  justify-content: space-evenly;
  align-items: stretch;
}
.alignitens-flexstart {
  background: palegreen;
  margin: 20px;
  height: 300px;
  justify-content: space-evenly;
  align-items: flex-start;
}
.alignitens-flexend {
  background: palegreen;
  margin: 20px;
  height: 300px;
  justify-content: space-evenly;
  align-items: flex-end;
}
.alignitens-center {
  background: palegreen;
  margin: 20px;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
}

/* align-content */
.aligncontent-normal {
  background: palegreen;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: normal;
}
.aligncontent-flexstart {
  background: palegreen;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}
.aligncontent-flexend {
  background: palegreen;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-end;
}
.aligncontent-center {
  background: palegreen;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
}
.aligncontent-spacebetween {
  background: palegreen;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-between;
}
.aligncontent-spacearound {
  background: palegreen;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
}

/* order */
.order-04 {
  order: -1;
}
.order-09 {
  order: -1;
}
.order-10 {
  order: -2;
}
.order-05 {
  order: 1;
}
