@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #000000;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #33a8db;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1rem;
  color: #ffffff;
}

section {
  margin: 100px auto;
}

.banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 605px;
  padding-top: 56px;
  border-bottom: 1px solid #33a8db;
}

.banner .banner-content {
  color: #ffffff;
  width: 600px;
  margin: auto;
  text-align: center;
}

.banner .banner-content h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: transparent;
  background: -webkit-linear-gradient(#33a8db, #1472b7);
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

.banner .banner-content p {
  font-size: 1.25rem;
  margin: 16px 0 24px;
}

.banner .banner-content .logo {
  background-color: rgba(0, 0, 0, 0.2);
  height: 268px;
  width: 268px;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 16px;
}

.banner .banner-content .logo img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 27px 10px;
}

.banner .banner-content button {
  color: #31a8dd;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  padding: 16px 91px;
  text-transform: uppercase;
  background-color: transparent;
  border-image: linear-gradient(#3ba1cd, #1572b7);
  border-image-slice: 10;
}

#course-content {
  width: 792px;
  text-align: center;
}

#course-content .modules-list {
  margin: 24px 0;
}

#course-content .modules-list .module span {
  color: #33a8db;
}

#course-content .modules-list .module {
  color: #ffffff;
  width: 535px;
  margin: 0px auto 24px;
  border: 1px solid #33a8db;
  background-color: #252525;
  padding: 16px;
  border-radius: 100px;
  box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
}

#transform-world {
  height: 363px;
  background-size: cover;
  background-image: url("../images/woman-code.png");
  background-attachment: fixed;
  border-top: 1px solid #33a8db;
  border-bottom: 1px solid #33a8db;
  padding: 100px 200px;
}

#transform-world p {
  color: #ffffff;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: lowercase;
  text-shadow: 3px 2px #33a8db;
  max-width: 244px;
}

#professional-challenges {
  width: 792px;
  text-align: center;
}

#professional-challenges img {
  margin-top: 32px;
}

#professional-challenges p {
  margin-top: 40px;
}

footer {
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(
    rgba(50, 168, 219, 0),
    rgba(50, 168, 219, 0.2)
  );
  border-top: 1px solid #33a8db;
}

footer .dio-logo {
  width: 310px;
}

footer a {
  color: #33a8db;
  font-weight: 700;
  text-decoration: none;
}
