@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", "Arial", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: block;
  position: relative;
}
.app {
  display: flex;
  flex-direction: column;
}

#flex-row {
  display: flex;
  flex-direction: row;
}
#flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#row-wrap-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
#column-wrap-center {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#flex-start-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#flex-start-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#flex-end-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.navbar {
  min-width: 100%;
  height: 56px;
  background-color: rgba(255, 255, 255, 1);
  display: block;
  position: fixed;
}
.navbar-content {
  padding: 0 16px;
  justify-content: space-between;
}
.navbar-content-start {
  min-width: 169px;
}
.navbar-content-start-menu {
  min-width: 40px;
  min-height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  justify-content: center;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.navbar-content-start-menu:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.navbar-content-start-menu img {
  max-width: 18px;
  max-height: 14px;
}
.navbar-content-start-logo {
  max-width: 129px;
  height: 56px;
  padding: 18px 16px;
  justify-content: center;
  cursor: pointer;
}
.navbar-content-start-logo img {
  max-width: 93px;
  max-height: 20px;
}
.navbar-content-start-span {
  margin-left: -10px;
  padding-bottom: 24px;
  font-size: 10px;
  font-weight: 100;
  color: rgba(96, 96, 96, 1);
}

.navbar-content-center {
  max-width: 100%;
  height: 40px;
  justify-content: center;
  flex: 0 1 732px;
}
.navbar-content-center-searchbox {
  margin-left: 40px;
  padding: 0 4px;
  width: 100%;
}
.navbar-content-center-searchbox-imput {
  margin-left: 32px;
  width: 100%;
  padding: 0 4px 0 16px;
  border: 1px solid;
  border-color: rgba(198, 198, 198, 1);
  border-right: 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 1px 2px rgba(238, 238, 238, 1);
  border-radius: 40px 0 0 40px;
  cursor: text;
}
.navbar-content-center-searchbox-imput form {
  width: 100%;
  display: flex;
}
.navbar-content-center-searchbox-imput form input {
  padding: 1px 0;
  width: 100%;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: rgba(15, 15, 15, 1);
  outline: none;
  font-size: 1rem;
  font-weight: 400;
}
.navbar-content-center-searchbox-imput-teclado {
  padding: 4px;
  min-width: 27px;
  min-height: 27px;
  background-color: transparent;
  display: block;
  cursor: pointer;
}
.navbar-content-center-searchbox-imput-teclado img {
  max-width: 19px;
  max-height: 11px;
  margin-top: 4px;
  line-height: 24px;
}
.navbar-content-center-searchbox-imput-button {
  min-width: 64px;
  height: 40px;
  color: rgba(15, 15, 15, 1);
  background-color: rgba(243, 243, 243, 1);
  border: 1px solid rgba(211, 211, 211, 1);
  border-radius: 0 40px 40px 0;
  justify-content: center;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.navbar-content-center-searchbox-imput-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.navbar-content-center-searchbox-imput-button img {
  max-width: 24px;
  max-height: 24px;
}
.navbar-content-center-searchbox-imput-feedback {
  margin-left: 12px;
  min-width: 40px;
  height: 40px;
  background-color: rgba(243, 243, 243, 1);
  border-radius: 50%;
  justify-content: center;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.navbar-content-center-searchbox-imput-feedback:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.navbar-content-center-searchbox-imput-feedback img {
  max-width: 24px;
  max-height: 24px;
}

.navbar-content-end {
  min-width: 225px;
  height: 40px;
  justify-content: flex-end;
}
/*.navbar-content-end-buttons {
}*/
.navbar-content-end-buttons-upload {
  margin-right: 8px;
  min-width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  justify-content: center;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.navbar-content-end-buttons-upload:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.navbar-content-end-buttons-upload img {
  max-width: 24px;
  max-height: 24px;
}
.navbar-content-end-buttons-notification {
  margin-right: 8px;
  min-width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  justify-content: center;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.navbar-content-end-buttons-notification:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.navbar-content-end-buttons-notification img {
  max-width: 24px;
  max-height: 24px;
}
.navbar-content-end-buttons-profile {
  padding: 1px 6px;
  min-width: 60px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  cursor: pointer;
}
.navbar-content-end-buttons-profile img {
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
}

.page {
  margin-top: 56px;
  padding: 0 16px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: block;
  align-items: baseline;
}
.columns {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}
.primary {
  width: 71%;
  min-height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 1);
  justify-content: space-between;
}
.primary-player {
  width: 100%;
  padding-top: 20px;
  aspect-ratio: 16/9;
}
.primary-player iframe {
  border-radius: 10px;
}
.primary-below {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 24px;
}
.primary-below-above {
  width: 100%;
}
.primary-below-above-top-row {
  width: 100%;
  cursor: text;
}
.primary-below-above-top-row h1 {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  color: rgba(15, 15, 15, 1);
}
.primary-below-above-middle-row {
  width: 100%;
  flex-wrap: nowrap;
}
.primary-below-above-middle-row-content {
  margin-top: 12px;
  margin-right: 32px;
  max-width: 100%;
  width: fit-content;
  min-width: auto;
  flex: 0 0 auto;
}
.primary-below-above-middle-row-content-profile {
  width: fit-content;
  cursor: pointer;
}
.primary-below-above-middle-row-content-profile img {
  margin-right: 12px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
}
.primary-below-above-middle-row-content-text {
  margin-right: 24px;
  width: fit-content;
}
.primary-below-above-middle-row-content-text h1 {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: rgba(15, 15, 15, 1);
  cursor: pointer;
}
.primary-below-above-middle-row-content-text h2 {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: rgba(96, 96, 96, 1);
  cursor: text;
}
.primary-below-above-middle-row-content-subscribe {
  width: fit-content;
  justify-content: center;
}
.primary-below-above-middle-row-content-subscribe-button {
  color: rgba(255, 255, 255, 1);
  background: rgba(15, 15, 15, 1);
  padding: 0 16px;
  width: 100%;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 18px;
  margin: 6px;
  cursor: pointer;
}
.primary-below-above-middle-row-actions {
  box-sizing: border-box;
  margin-top: 12px;
  margin-right: 0;
  min-width: auto;
  flex: 1 1 auto;
  justify-content: flex-end;
  gap: 10px;
}
.primary-below-above-middle-row-actions-like-dislike {
  min-width: auto;
}
.primary-below-above-middle-row-actions-like-dislike-like {
  min-width: 0;
  height: 36px;
  padding: 0 16px;
  background-color: rgba(243, 243, 243, 1);
  border-radius: 18px 0 0 18px;
  border: 2px solid;
  border-color: rgba(198, 198, 198, 1);
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  justify-content: center;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.primary-below-above-middle-row-actions-like-dislike-like:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.primary-below-above-middle-row-actions-like-dislike-like img {
  margin-right: 6px;
  max-width: 20px;
  max-height: 20px;
}
.primary-below-above-middle-row-actions-like-dislike-like p {
  font-size: 14px;
  font-weight: 500;
  color: rgba(15, 15, 15, 1);
}
.primary-below-above-middle-row-actions-like-dislike-dislike {
  min-width: 0;
  height: 36px;
  padding: 0 16px;
  background-color: rgba(243, 243, 243, 1);
  border-radius: 0 18px 18px 0;
  justify-content: center;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.primary-below-above-middle-row-actions-like-dislike-dislike:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.primary-below-above-middle-row-actions-like-dislike-dislike img {
  margin-right: 6px;
  max-width: 20px;
  max-height: 20px;
}
.primary-below-above-middle-row-actions-share-button {
  min-width: 0;
  height: 36px;
  padding: 0 16px;
  background-color: rgba(243, 243, 243, 1);
  border-radius: 18px 18px 18px 18px;
  justify-content: center;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.primary-below-above-middle-row-actions-share-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.primary-below-above-middle-row-actions-share-button img {
  margin-right: 6px;
  max-width: 20px;
  max-height: 20px;
}
.primary-below-above-middle-row-actions-save-button {
  min-width: 0;
  height: 36px;
  padding: 0 16px;
  background-color: rgba(243, 243, 243, 1);
  border-radius: 18px 18px 18px 18px;
  justify-content: center;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.primary-below-above-middle-row-actions-save-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.primary-below-above-middle-row-actions-save-button img {
  margin-right: 6px;
  max-width: 20px;
  max-height: 20px;
}
.primary-below-above-middle-row-actions-menu-button {
  width: 36px;
  height: 36px;
  padding: 0 16px;
  background-color: rgba(243, 243, 243, 1);
  border-radius: 50%;
  justify-content: center;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.primary-below-above-middle-row-actions-menu-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.primary-below-above-middle-row-actions-menu-button img {
  max-width: 20px;
  max-height: 20px;
}

.secondary {
  max-width: 29%;
  min-height: 100vh;
  padding-top: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 1);
  justify-content: flex-start;
  align-content: space-between;
}
.secondary-content {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  justify-content: space-between;
}
.secondary-content-top-row {
  min-width: 100%;
  height: 537px;
  border: 1px solid;
  border-color: rgba(198, 198, 198, 1);
  box-shadow: inset 0 1px 2px rgba(238, 238, 238, 1);
  border-radius: 12px;
  box-sizing: border-box;
}
.secondary-content-top-row-header {
  width: 100%;
  height: 100px;
  padding: 12px 6px 0 16px;
}
.secondary-content-top-row-header-title {
  width: 100%;
}
.secondary-content-top-row-header-title-text {
  margin-right: 8px;
  height: 47px;
  flex-wrap: wrap;
  align-content: space-between;
}
.secondary-content-top-row-header-title-text h1 {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  color: rgba(15, 15, 15, 1);
  cursor: text;
}
.secondary-content-top-row-header-title-text h2 {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: rgba(96, 96, 96, 1);
  cursor: text;
}
.secondary-content-top-row-header-title-button {
  min-width: 40px;
  height: 40px;
  justify-content: center;
  cursor: pointer;
}
.secondary-content-top-row-header-title-button img {
  width: 24px;
  height: 24px;
}
.secondary-content-top-row-header-action {
  width: 100%;
  height: 40px;
  justify-content: flex-end;
  align-content: flex-end;
}
.secondary-content-top-row-header-action-button {
  min-width: 40px;
  height: 40px;
  justify-content: center;
  cursor: pointer;
}
.secondary-content-top-row-header-action-button img {
  width: 24px;
  height: 24px;
}
.secondary-content-top-row-playlist {
  width: 100%;
  height: 435px;
  padding: 0 16px 12px 16px;
}
.secondary-content-top-row-playlist-itens {
  width: 100%;
  height: 74px;
  padding-top: 8px;
  padding: 4px 8px 4px 0;
}
.secondary-content-top-row-playlist-itens-play {
  width: 24px;
  height: 100%;
  color: rgba(15, 15, 15, 1);
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}
.secondary-content-top-row-playlist-itens-play p {
  width: 12px;
  height: 12px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
.secondary-content-top-row-playlist-itens-image {
  width: 100px;
  height: 56px;
  border-radius: 4px;
  background-image: url("../images/0010.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  cursor: pointer;
}
.secondary-content-top-row-playlist-itens-image-time {
  bottom: 0;
  right: 0;
  margin: 4px;
  position: absolute;
  justify-content: flex-end;
  cursor: pointer;
}
.secondary-content-top-row-playlist-itens-image-time p {
  border-radius: 4px;
  padding: 1px 4px;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2rem;
}
.secondary-content-top-row-playlist-itens-text {
  width: 214px;
  height: 62px;
  min-width: 0;
  padding: 0 8px;
  align-content: space-between;
  cursor: text;
}
.secondary-content-top-row-playlist-itens-text h1 {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: rgba(15, 15, 15, 1);
}
.secondary-content-top-row-playlist-itens-text h2 {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: rgba(96, 96, 96, 1);
}
